// 暗色主题

// 侧边栏
$sidebar-width: 210px;
$sidebar-background-color: #1d1e1f;
$sidebar-text-color: #FFFFFF;
$sidebar-active-text-color: #409EFF;
$sidebar-hover-background-color: #1890ff;

// 顶部导航
$header-height: 50px;
$header-background-color: #2d2d2d;
$header-text-color: #FFFFFF;
$header-border-color: #424242;

// 标签页
$tags-view-height: 34px;
$tags-view-background-color: #2d2d2d;
$tags-view-border-color: #424242;

// 主内容区域
$content-background-color: #1d1e1f;