// 默认主题

// 侧边栏
$sidebar-width: 210px;
$sidebar-background-color: #001529;
$sidebar-text-color: #FFFFFF;
$sidebar-active-text-color: #409EFF;
$sidebar-hover-background-color: #1890ff;

// 顶部导航
$header-height: 50px;
$header-background-color: #FFFFFF;
$header-text-color: #333333;
$header-border-color: #e4e7ed;

// 标签页
$tags-view-height: 34px;
$tags-view-background-color: #FFFFFF;
$tags-view-border-color: #d8dce5;

// 主内容区域
$content-background-color: #f0f2f5;